:root {
  --primary-color: #F1E5FF;
  --secondry-color: #9F84FF;
  --third-color: #7F5AFF;
  --primary-blue: #4BBADD;
  --white-color: #fff;
  --text-color: #434343;
  --title-blue: #003252;
  --text-purple: #190038;
  --text-blue: #102D36;
  --text-grey: #E9E9E9;
  --black-color: #000;
  --primary-font: 'Quicksand', sans-serif;
  --secondry-font: 'Roboto', sans-serif;
}

#alavanque {
  display: flex;
  justify-content: center;
  align-items: center;
}



.contato {
  margin-top: 120px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 5fr 7fr;
  position: relative;
  overflow: hidden;
}


.alavanque-bg {
  position: relative;
  overflow-x: hidden;
}

.alavanque-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  top: 250px;
  background-color: #F4F4F4;
  z-index: -1;
}


.contato h2 {
  font-family: var(--primary-font);
  color: #DDF6FE;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}



.contato-dados {
  border-radius: 5px 0 0 5px;
  background: #4BBADD url("../images/dec/bottom-left.svg") no-repeat bottom 45px left 60px;
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: #DDF6FE url("../images/dec/bottom-right.svg") no-repeat bottom 45px right 60px;
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 40px;
  background: url("../images/icones/local.svg") no-repeat 0px 2px;
}

.contato-endereco p {
  margin-bottom: 8px;
  color: #003B4E;
  font-family: var(--secondry-font);
  font-weight: 500;
  line-height: 25px;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 40px;
  color: #003B4E;
  font-family: var(--secondry-font);
  font-weight: 500;

}

.contato-meios a:hover {
  color: var(--white-color);
}

.contato-meios a:first-child {
  background: url("../images/icones/email.svg") no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {

  margin-bottom: 52px;
}

.contato-meios a:nth-child(3) {
  background: url("../images/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Quicksand", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
  width: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--white-color);
  border: 1px solid #EDEDED;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border: solid 1px #4BBADD;
  background: var(--white-color);
  box-shadow: 0 0 0 1px #4BBADD;
}

.blue-btn-form {
  display: inline-block;
  padding: 0.4rem 0.175rem;
  border: none;
  border-radius: 8px;
  border-radius: 6.085px;
  background: linear-gradient(180deg, #4B8EDD 0%, #4BBADD 0.01%, #4AB0D0 100%);
  box-shadow: 0px 1.2px 2.43403px 0px rgba(0, 0, 0, 0.10);
  color: var(--white-color);
  font-size: 1.0375rem;
  font-weight: 500;
  font-family: var(--secondry-font);
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.blue-btn-form:hover {
  color: var(--title-blue);
}

.contato-formulario span img {
  margin-left: 12px;
  margin-bottom: 6px;
}


@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .col-2 {
    grid-column: 1;
  }
}


@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }

  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }

  .contato-dados {
    border-radius: 5px 5px 0 0;
    background: #DDF6FE;
  }

  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }

  .contato-dados h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 32px;
  }

  .contato-redes {
    margin-bottom: 12px;
  }
}