@media (max-width: 1400px) {
  .main-title {
    position: relative;
    margin-bottom: 20px;
    width: 580px;
  }
}


@media (max-width: 991px) {
  .sobre-nos {
    grid-template-columns: 1fr;
  }

  .balao::after {
    left: 0px;
  }

  .text-content {
    width: 100%;
  }

  .navigation-wrap .navbar-brand img {
    height: 3.8125rem;
  }

  .navigation-wrap {
    text-align: center;
    background-color: #fff;
  }

  .navigation-wrap .nav-link {
    line-height: 1.875rem;
  }

  .top-banner {
    padding: 9.375rem 0 9.375rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .top-banner {
    padding: 10.875rem 0 9.375rem;
  }
}